*{
    margin: 0;
    padding: 0;
}
/* .container{
    background: url("foto/sam1.jpeg ");
     height: 100vh; 
    background-size: 100% 100%;
} */
.container .navbar{
    width: 100%;
    height: 79px;
   
}
.navbar .logo{
    display: inline-block;
    margin-left: 50px;
    margin-top: 20px;
}
.navbar ul{
    float: right;
    margin-right:30px ;

}
.navbar .logo a{
    text-decoration: none;
    font-size: 35px;

    color: black;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    line-height: 80px;
   
}
.navbar ul li a{
    text-decoration: none;
     color:black;
     font-size: 18px;
    
}
.navbar ul li a:hover{
    text-decoration: underline;
    background: rgb(14, 59, 95);
    border-radius: 5px;
}
.container .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    font-size: 25px;
}
.center h2{
    margin-top: 80px;
    margin-bottom: 50px;
    font-size: 30px;
}
 /* Slider */


.sehir{
    width:100%;
    height: 600px ;
    background-color:white;
    margin: 10px;
    float: left;
    border: none;
    overflow: scroll;
    margin-bottom: 20px;
   
}

.foto{
    width:90%;
    height:500px;
    margin: 15PX;
    margin-left:35px;
    margin-bottom: 10px;
}
.sehir1{
    position: relative;
    width:100%;
    height: 600px;
    border:none;
    margin: auto;
    overflow: hidden;
}
.sehir2{
    position: absolute;
    width: 400%;
    left:0;
    animation:slide 28s infinite;
    margin-bottom: 20px;
    
    
}
.sehir3{
    width: 25%;
    float: left;
    margin-bottom: 10px;
}
@keyframes slide{
    0% {
        transform: translateX(0px);
    }
    10% {
        transform: translateX(-1300px);
    }
    20% {
        transform: translateX(-1300px);
    }
    30% {
        transform: translateX(-2600px);
    }
    40% {
        transform: translateX(-2600px);
    }
    50% {
        transform: translateX(-4000px);
    }
    60% {
        transform: translateX(-4000px);
    }
    /* 70% {
        transform: translateX(-4100px);
    } */
    /* 80% {
        transform: translateX(-4200px);
    } */
}
.sehir1 h3{
    text-align:center;
}
.sehir p{
    font-size:15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    margin: 5px;
    margin-top: 10px;
    
}
 /* .kitap{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: flex-end;
    transition: all 0.5s ease;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
}  */
.kitap img{
 width: 225px;
 height: 300px;
 margin-right: 50px;
 /* transition: transform 0.3s ease; */
 margin-bottom: 10px;
 
 transition: all 0.5s ease;
}
#robert{
    width: 300px;
    height: 275px;
}
#sayf{
    width: 250px;
    
}

.kitap img:hover{
     transform: scale(1);
     filter: grayscale(100%); 
    transform: scale(0.9);   
}
hr {
    width: 300px; 
    height: 10px;
    background-color: red; 
    border: none; 
}
.kitap h1{
font-size: 60px;
}
.basinhakki{
    width: 100%;
    height: 100px;
    background-color: rgb(51, 1, 1);
}

.basinhakki .dizayn span{
    color: white;
}
.basinhakki .dizayn a{
    color: yellow;
    text-decoration: none;
    display: inline;
    transition: transform 0.2s;
}
.dizayn a {
    font-size: 16px; /* Normal yazı boyutu */
    transition: font-size 0.9s;
}
.basinhakki .dizayn a:hover{
    color: rgb(161, 10, 161);
    transform: scale(1.1);
    font-size: 18px;
}
.dizayn{
    padding-top: 40px;
}
.dizayn i{
    color: white;
}


 


